
@{
    ViewBag.Title = "PaginaInicial";
    Layout = "/Views/Shared/LayoutPage.cshtml";
   
}
<br />
<h2 style="margin-top: 20px">Sistema de Catracas Para Academias</h2>
<br />

<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="~/Images/Crossfit.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Crossfit</h5>
            <p class="card-text">Com inspirações no treinamento militar, o crossfit tem o objetivo de melhorar o condicionamento físico de pessoas de diferentes faixas etárias, desde sedentários a atletas profissionais.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/Karate.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Karatê</h5>
            <p class="card-text">Karate é uma palavra japonesa que significa "mãos vazias". É uma arte altamente científica, fazendo o mais eficaz uso de todas as partes do corpo para fins de auto-defesa. O maior objetivo do karate é a perfeição do caráter, através de árduo treinamento e rigorosa disciplina da mente e do corpo.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/Musculação.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Musculação</h5>
            <p class="card-text">O treinamento de força, conhecido popularmente como musculação é uma forma de exercício contra resistência, praticado normalmente em ginásios, para o treinamento e desenvolvimento dos músculos esqueléticos.</p>
        </div>
    </div>
</div>